<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Register Page</title>
	<div th:replace="fragments/header :: header-css" />
	
	<style>
		.error {
			color: #ff0000;
			font-style: italic;
			font-weight: bold;
		}
	</style>
</head>

<body>

	<div th:replace="fragments/header :: header" />

	<div class="container">
		<div>
			<h1>Registration</h1>
		</div>
		<form th:action="@{/process_register}" th:object="${user}" method="post"
			style="max-width: 600px; margin: 0 auto;">
			<div class="m-3">
				<div class="form-group row">
					<label class="col-4 col-form-label">Full Name: </label>
					<div class="col-8">
						<input type="text" th:field="*{userName}" class="form-control"/>
						<span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="error"></span>	
					</div>
				</div>

				<div class="form-group row">
					<label class="col-4 col-form-label">E-mail: </label>
					<div class="col-8">
						<input type="email" th:field="*{email}" class="form-control" />
						<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></span>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-4 col-form-label">Password: </label>
					<div class="col-8">
						<input type="password" th:field="*{password}" class="form-control"/>
						<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></span>	
					</div>
				</div>
				
<!--				<div class="form-group row">-->
<!--					<label class="col-4 col-form-label">Confirm Password: </label>-->
<!--					<div class="col-8">-->
<!--						<input type="password" th:field="*{password}" class="form-control" minlength="6"-->
<!--							maxlength="10" />-->
<!--					</div>-->
<!--				</div>-->
				<div>
					<button type="submit" class="btn btn-primary">Sign Up</button>
				</div>
			</div>
		</form>
		<div th:replace="fragments/footer :: footer" />
	</div>
	</div>
</body>

</html>