<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Managerment Page for Admin</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
    </head>
    <body>
        <div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">		
            <h3 th:inline = "text">Hello [[${#httpServletRequest.remoteUser}]]!</h3>
            Roles: <span sec:authentication="principal.authorities"></span>		
            <div sec:authorize="hasRole('USER')">Text visible to user.</div>
    		<div sec:authorize="hasRole('ADMIN')">Text visible to admin.</div>		
            <div>
                <form action="#" th:action="@{/logout}" method="post">					
                    <input type="submit" value="Logout" />
                </form>
            </div>
        </div>
        <h1>Managerment Page for Admin</h1>
        <ul>
            <li><a href="admin/personList" th:href="@{admin/personList}">User List Page</a></li>
            <li><a href="/gameLobby" th:href="@{/gameLobby}">Playe Game</a></li>
        </ul>
    </body>
</html>